.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}

.btn-login {
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}
.btn-register {
  width: 50%;
}
.login-btn {
  width: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}
